@page
@model SEGEDE_Grupo1.WebApp.Pages.Admin.DashboardModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
    <p class="text-muted">Esqueleto del panel de control de Administración.</p>
</div>

@section Scripts {
    <script src="~/js/pages-controller/AdminDashboardViewController.js"></script>
}
